* {
  box-sizing: border-box;
}

html {
  font-size: 90%;
}

:root {
  --app-red: #292929;
  --app-green: hsl(154, 59%, 51%);
  --app-blue: hsl(248, 32%, 49%);
  --app-dark-blue: hsl(249, 10%, 26%);
  --app-gray-blue: hsl(246, 25%, 77%);
}

body {
  background-image: url(./images/bg-intro-desktop.png);
  background-size: cover;
  background-color: var(--app-red);
  font-family: 'Poppins', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  margin-top: 5em;
  width:80%;
  max-width: 1200px;
  display: flex;
}

.container > * {
  flex: 1 1 50%;
}

.left-container {
  color: white;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-container > h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
}

.left-container > p {
  font-weight: 500;
  font-size: 1rem;
}

.right-container {
  font-size: 1rem;
}

.payment {
  background-color: var(--app-blue);
  padding: 1em 2em;
  border-radius: 10px;
  box-shadow: 0 5px 0 hsla(249, 10%, 26%, 0.3);
  color: white;
  text-align: center;
}

.bold {
  font-weight: 700;
}

.normal {
  font-weight: 400;
}

.form-container {
  background-color: white;
  margin-top: 2em;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 5px 0 hsla(249, 10%, 26%, 0.3);
  margin-bottom: 2em;
}

.form-input {
  display: block;
  width: 100%;
  padding: 1em 1.5em;
  border-radius: 5px;
  border: 2px solid hsl(246, 25%, 77%, 0.3);
  font-weight: 700;
  color: var(--app-dark-blue);
}

.err-icon {
  display: none;
  position: absolute;
  top: 0.8em;
  right: 1.5em;
  width: 1.4em;
}

.form-input-wrap {
  margin-bottom: 1.5em;
  position: relative;
}

.form-input::placeholder {
  font-weight: 700;
  color: var(--app-dark-blue);
  opacity: 0.7;
}

.form-input:focus {
  border-radius: 5px;
  border: 2px solid black;
}
a > button{
  background-color: var(--app-green);
  color: white;
  width: 100%;
  padding: 1em 1.5em;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  border-bottom: 3px solid hsl(154, 59%, 40%);
}
a > button:hover{
  opacity: 0.7;
  cursor: pointer;
}
.submit-button {
  background-color: var(--app-green);
  color: white;
  width: 100%;
  padding: 1em 1.5em;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  border-bottom: 3px solid hsl(154, 59%, 40%);
}

.submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.error-text {
  display: none;
  color: var(--app-red);
  font-size: x-small;
  font-weight: 600;
  font-style: italic;
  margin-top: 0.5em;
  width: 100%;
  text-align: right;
}

.terms {
  font-weight: 400;
  font-size: x-small;
  text-align: center;
  color: var(--app-dark-blue);
  margin-top: 1em;
}

.red {
  color: var(--app-red);
}

.gray-blue {
  color: var(--app-gray-blue);
}

@media screen and (max-width: 768px) {
  body {
    background-image: url(./images/bg-intro-mobile.png);
  }
  .container {
    flex-direction: column;
  }

  .left-container {
    text-align: center;
    margin-bottom: 3em;
  }

  .left-container > h1 {
    font-size: 2rem;
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .container {
    width: 95%;
  }
}